EmpresaEmisora/EmpresaEmisora/Web References/Banguat/Banguat.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsultaTasaDeCambio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Fecha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaTasaDeCambioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaTasaDeCambioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaMontosMaximosMinimos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Contrasenia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Fecha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaMontosMaximosMinimosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaMontosMaximosMinimosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaComisionPorRemesa">
        <s:complexType />
      </s:element>
      <s:element name="ConsultaComisionPorRemesaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaComisionPorRemesaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaTasaDeCambioSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaTasaDeCambio" />
  </wsdl:message>
  <wsdl:message name="ConsultaTasaDeCambioSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaTasaDeCambioResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaMontosMaximosMinimosSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaMontosMaximosMinimos" />
  </wsdl:message>
  <wsdl:message name="ConsultaMontosMaximosMinimosSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaMontosMaximosMinimosResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaComisionPorRemesaSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaComisionPorRemesa" />
  </wsdl:message>
  <wsdl:message name="ConsultaComisionPorRemesaSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaComisionPorRemesaResponse" />
  </wsdl:message>
  <wsdl:portType name="BanguatSoap">
    <wsdl:operation name="ConsultaTasaDeCambio">
      <wsdl:input message="tns:ConsultaTasaDeCambioSoapIn" />
      <wsdl:output message="tns:ConsultaTasaDeCambioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaMontosMaximosMinimos">
      <wsdl:input message="tns:ConsultaMontosMaximosMinimosSoapIn" />
      <wsdl:output message="tns:ConsultaMontosMaximosMinimosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaComisionPorRemesa">
      <wsdl:input message="tns:ConsultaComisionPorRemesaSoapIn" />
      <wsdl:output message="tns:ConsultaComisionPorRemesaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BanguatSoap" type="tns:BanguatSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaTasaDeCambio">
      <soap:operation soapAction="http://tempuri.org/ConsultaTasaDeCambio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaMontosMaximosMinimos">
      <soap:operation soapAction="http://tempuri.org/ConsultaMontosMaximosMinimos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaComisionPorRemesa">
      <soap:operation soapAction="http://tempuri.org/ConsultaComisionPorRemesa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BanguatSoap12" type="tns:BanguatSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaTasaDeCambio">
      <soap12:operation soapAction="http://tempuri.org/ConsultaTasaDeCambio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaMontosMaximosMinimos">
      <soap12:operation soapAction="http://tempuri.org/ConsultaMontosMaximosMinimos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaComisionPorRemesa">
      <soap12:operation soapAction="http://tempuri.org/ConsultaComisionPorRemesa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Banguat">
    <wsdl:port name="BanguatSoap" binding="tns:BanguatSoap">
      <soap:address location="http://localhost:53434/Logica/Banguat.asmx" />
    </wsdl:port>
    <wsdl:port name="BanguatSoap12" binding="tns:BanguatSoap12">
      <soap12:address location="http://localhost:53434/Logica/Banguat.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>