IVE/IVE/Web References/DBIVE/BDIVE.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertarRemesa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Id_Remesa" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Monto" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="Nombre_Emisor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Correo_Emisor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Doc_Identificacion_Emisor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Direccion_Emisor" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="No_Telefono_Emisor" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Nombre_Receptor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Correo_Receptor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Doc_Identificacion_Receptor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Direccion_Receptor" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="No_Telefono_Receptor" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Fecha_Recepcion_Remesa" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarRemesaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertarRemesaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertarRemesaSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarRemesa" />
  </wsdl:message>
  <wsdl:message name="InsertarRemesaSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarRemesaResponse" />
  </wsdl:message>
  <wsdl:portType name="BDIVESoap">
    <wsdl:operation name="InsertarRemesa">
      <wsdl:input message="tns:InsertarRemesaSoapIn" />
      <wsdl:output message="tns:InsertarRemesaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BDIVESoap" type="tns:BDIVESoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarRemesa">
      <soap:operation soapAction="http://tempuri.org/InsertarRemesa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BDIVESoap12" type="tns:BDIVESoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarRemesa">
      <soap12:operation soapAction="http://tempuri.org/InsertarRemesa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BDIVE">
    <wsdl:port name="BDIVESoap" binding="tns:BDIVESoap">
      <soap:address location="http://localhost:59317/Datos/BDIVE.asmx" />
    </wsdl:port>
    <wsdl:port name="BDIVESoap12" binding="tns:BDIVESoap12">
      <soap12:address location="http://localhost:59317/Datos/BDIVE.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>