SAT/SAT/Web References/BDSAT/BaseDeDatosSAT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="insertarPagoRemesa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="u" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idRemesa" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="MontoRemesa" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="Impuesto" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarPagoRemesaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertarPagoRemesaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="insertarPagoRemesaSoapIn">
    <wsdl:part name="parameters" element="tns:insertarPagoRemesa" />
  </wsdl:message>
  <wsdl:message name="insertarPagoRemesaSoapOut">
    <wsdl:part name="parameters" element="tns:insertarPagoRemesaResponse" />
  </wsdl:message>
  <wsdl:portType name="BaseDeDatosSATSoap">
    <wsdl:operation name="insertarPagoRemesa">
      <wsdl:input message="tns:insertarPagoRemesaSoapIn" />
      <wsdl:output message="tns:insertarPagoRemesaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BaseDeDatosSATSoap" type="tns:BaseDeDatosSATSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertarPagoRemesa">
      <soap:operation soapAction="http://tempuri.org/insertarPagoRemesa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BaseDeDatosSATSoap12" type="tns:BaseDeDatosSATSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertarPagoRemesa">
      <soap12:operation soapAction="http://tempuri.org/insertarPagoRemesa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BaseDeDatosSAT">
    <wsdl:port name="BaseDeDatosSATSoap" binding="tns:BaseDeDatosSATSoap">
      <soap:address location="http://localhost:60945/Datos/BaseDeDatosSAT.asmx" />
    </wsdl:port>
    <wsdl:port name="BaseDeDatosSATSoap12" binding="tns:BaseDeDatosSATSoap12">
      <soap12:address location="http://localhost:60945/Datos/BaseDeDatosSAT.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>