EmpresaEmisora/EmpresaEmisora/Web References/BDEmpresaEmisora/BDEmpresaEmisora.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="insertarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="documento_identificacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo_electronico" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="no_telefono" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="no_cuenta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo_cuenta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertarClienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="insertarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:insertarCliente" />
  </wsdl:message>
  <wsdl:message name="insertarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:insertarClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="BDEmpresaEmisoraSoap">
    <wsdl:operation name="insertarCliente">
      <wsdl:input message="tns:insertarClienteSoapIn" />
      <wsdl:output message="tns:insertarClienteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BDEmpresaEmisoraSoap" type="tns:BDEmpresaEmisoraSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertarCliente">
      <soap:operation soapAction="http://tempuri.org/insertarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BDEmpresaEmisoraSoap12" type="tns:BDEmpresaEmisoraSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertarCliente">
      <soap12:operation soapAction="http://tempuri.org/insertarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BDEmpresaEmisora">
    <wsdl:port name="BDEmpresaEmisoraSoap" binding="tns:BDEmpresaEmisoraSoap">
      <soap:address location="http://localhost:59424/Datos/BDEmpresaEmisora.asmx" />
    </wsdl:port>
    <wsdl:port name="BDEmpresaEmisoraSoap12" binding="tns:BDEmpresaEmisoraSoap12">
      <soap12:address location="http://localhost:59424/Datos/BDEmpresaEmisora.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>